.news{
    margin-top: 150px;
    
}

.news-heading{
    font-size: 74px;
    font-family: 'Khand',sans-serif;
    font-weight: 600;
    line-height: 1;

}

.news .orange-line1{
    background-color: rgb(235, 97, 0);
    width: 35px;
    height: 2px;
    
}

.news-img img{
    width: 100%;
}

.news-type{
    font-size: 14px;
    font-family: 'Khand',sans-serif;
    font-weight: 600;
}

.news-date{
    font-size: 16px;
}

.news-data{
    font-size: 18px;
    margin-top: 15px;
    line-height: 1;

}



/* for 576px */

@media (max-width:576px) {
    
    .news{
        margin-top: 100px;
        margin-left: 1rem;
    }

    .news-img img{
        width: 150px;
    }

    .news-type,
    .news-date{
        font-size: 12px;
    }

    .news-data{
        font-size: 16px;
        margin-top: 2px;
        width: 50%;
    }

    .news-content p{
        margin: 0;
    }
}